@charset "utf-8";
*{
    margin:0px;
    padding:0px;
}
img{
    border: 0 ;
}
body {
    background:#ffffff url(../images/bg.jpg) center top repeat-x;
    margin:0 auto;}
#logo,#top_mid,#top_right{float: left;}
#top{ width: 1000px; height: 111px; margin:0 auto;  }
#top #logo{width: 329px; height: 111px; background-image: url("../logo.png");}
#top #top_mid{width: 398px; height: 111px;}
#top #top_right{width: 273px; height: 111px;}
#top_right_child{
    position: relative;
    top:43px;
    width: 268px;
    height: 68px;
}
#menhu_zhengshu,#search{
    width: 268px;
    height: 34px;
}
#box1{
    /*position: relative;*/
    width: 268px;
    height: 28px;
    background-image: url("../images/topwzdtbg2.gif") ;
    background-repeat:no-repeat;
}
#menhu{
    font-size: 14px;
    color:#fff;
    float: left;
    width: 108px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
#zhengshu{
    font-size: 14px;
    float: left;
    width: 160px;
    height: 28px;
    margin: auto 0;
    line-height: 28px;//垂直居中
    text-align: center;//水平居中
}

#box2{
    /*position: relative;*/
    width: 268px;
    height: 21px;
}
#box2 form{
    height: 21px;
}
#box2 input {
    float: left;
    width: 230px;
    height: 20px;
    background: #fff;
    color: #000000;
    text-indent: 1em
}
#box2 button {
    float: left;
    width: 31px;
    height: 23px;
    background-image: url("../images/ss.gif");
    background-repeat:no-repeat;
}
#mid{width: 1000px; height: 32px; margin:0 auto; }
#nav{
    width: 966px;
    height: 32px;
    float: left;
}
#nav_head,#nav_rear{
    float: left;
    height: 32px;
    width: 17px;
    overflow: hidden;
    margin: auto 0;
}
#nav_head img,#nav_rear img{
    height: 30px;
}
.list1{
    float: left;
    list-style: none;
    width: 107.15px;
    height: 32px;

}
.list2{
    list-style: none;
}
.list1 a{
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    width: 107px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    background: url("../images/ddd.jpg");
}
a:hover{text-decoration:none; font-size:12px;}
#banner{position: relative;margin:0 auto;width: 1000px; height: 251px;overflow: hidden;}
#banner_list{   width: 1000px; height: 251px }
#banner_list img{border: 0px;}
#banner_info{position:absolute; text-decoration: none;width:100px;height:20px;bottom:0; left:5px; color:#000;z-index:1003}
#banner #list{position: absolute; list-style-type: none;filter: Alpha(Opacity=75);opacity:0.75; z-index: 1001; margin: 0;bottom: 3px;right: 8px;}
#banner #list li{height: 20px;padding: 0px 6px;float: left; display: block; border: #ffffff 1px solid; background-color: #4cb8e2; cursor:pointer;}
#banner #list li.on{background-color: #329bff
}
#banner_list a{
    position: absolute;
}/*让四张图叠加在一起*/
